@import "./mixins.scss";

// Prefix
$prefix: "e";
$prefix_b: "eb";

// Color
$primary-color: #02b9cc;
$info-color: #2db7f5;
$wx-color: #5dc86c;
$success-color: #19be6b;
$processing-color: $primary-color;
$warning-color: #ff9900;
$error-color: #ed4014;
$normal-color: #e6ebf1;
$link-color: #2d8cf0;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$tooltip-color: #fff;
$subsidiary-color: #808695;
$rate-star-color: #f5a623;
$white: #fff;
$black: #000;

// play 播放按钮的背景色
$play-bg-color: rgba(0, 0, 0, 0.45);

// font-color
$font-white-color: #fff;
$font-black-color: rgba(0, 0, 0, 0.85);
$font-deep-color: rgba(0, 0, 0, 0.65);
$font-gray-color: rgba(0, 0, 0, 0.25);
$font-primary-color: $primary-color;

// font-size
$font-10: 10 * 2rpx;
$font-12: 12 * 2rpx;
$font-14: 14 * 2rpx;
$font-16: 16 * 2rpx;
$font-17: 17 * 2rpx;
$font-18: 18 * 2rpx;
$font-24: 24 * 2rpx;
$font-32: 32 * 2rpx;
$font-28: 28 * 2rpx;
$font-30: 30 * 2rpx;
$font-40: 40 * 2rpx;
$font-48: 48 * 2rpx;

// backgroundColor
$background-black-color: rgba(0, 0, 0, 0.65);
$background-gray-color: rgba(0, 0, 0, 0.04);
$background-white-color: #fff;
$background-select-color: rgba(2, 185, 204, 0.08);

// border-color
$border-select-color: rgba(2, 185, 204, 0.08);
$border-default-color: rgba(0, 0, 0, 0.08);
